accelerate==0.25.0
ollama
nbformat
huggingface-hub==0.19.4
ipyfilechooser==0.6.0
llama-index==0.9.15
pypdf==3.17.3
transformers==4.36.2
bertopic==0.16.0
spacy==3.7.0
datasets==2.16.1
neo4j
langchain_core
chromadb
langchain